#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
 
}

body{
  background-color: #f2dcb1;
  
}

#header{

  width: 200vh;
  background-color: 	#d99d29;
  padding: 20px;
  position: fixed;
  top: 0;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}

#navbar a{
  color: black;
  margin: 5rem;
}
#navbar a:hover{
  color: 	white;
}